<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034228761727-engjd6prk8o504pn6usmmpf255mbhp4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034228761727-engjd6prk8o504pn6usmmpf255mbhp4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAdF_bDIigm2asArSqnagRBrTZpTZAox5U</string>
	<key>GCM_SENDER_ID</key>
	<string>1034228761727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-875ff</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-875ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034228761727:ios:d1086aa364a416a8d62b4a</string>
</dict>
</plist>